.article-image {
    height: 400px;
    width: 600px;
    object-fit: cover;
}

.article-view-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
}

.article-view-container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.article-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
    margin-top: 10px;
}

.article-description {
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
}

.article-date {
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
